body {
    margin-top: 73px;
}

.section-heading {
    border-left: 10px solid orange;
    padding: 10px 20px;
    font-weight: 700;
}

/* Navbar  */

.icon {
    width: 7%;
    height: 7%;
}

.brand-logo {
    font-family: 'Pacifico', cursive;
    padding-left: 25px;
    font-size: 1.4rem;
}

/* About Section  */

.about {
    height: 400px;
    padding: 3% 10% 5% 10%;
    background-color: #f3f4ed;
}

/* Features Section  */

.feature {
    padding: 5% 10%;
    height: 650px;
    background-color: #faf2da;
    font-family: 'Ubuntu', sans-serif;
}

.feature-button {
    text-align: center;
    padding-top: 3%;
}

.spacing-1{
    margin-top: 42px;
}
.spacing-2{
  margin-top: 15px;
}
.spacing-3{
  margin-top: 31px;
}
/* Guidelines Section */

.guidelines {
    font-family: 'Ubuntu', sans-serif;
    padding: 3% 10%;
    height: 700px;
}

.card-image {
    padding-bottom: 5%;
}

/* CoronaVirus Information Section (Do's & Don't) */

.info {
    font-family: 'Ubuntu', sans-serif;
    padding: 3% 10%;
    height: auto;
    background-color: rgb(21, 79, 240);
}

.info-img {
    height: 100%;
    width: 15%;
    border-radius: 100%;
    float: left;
    margin-left: 5%;
}

.wrap-text{
    padding-top: 2%;
    margin-left:30%;
    padding-left: 10%;
}
#wraptext-heading1{
    color: #fff;
    font-size: 3rem;
}

#wraptext-heading2{
    color: yellow;
}

/* CSS FelxBox for Do's and Dont's  */

.flexbox{
    background-color: #FFFDD0;
    padding: 1% 10%;

}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    height: auto;
}

.flex-child:nth-child(1) {
    background-color: orange;
    margin-right: 20px;
}

.flex-child2 {
  background-color: lightgreen;
}

.flex-child3{
    background-color: violet;
    height: auto;
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
}

.do-title{
    background-color: #CC5500;
    height: 40px;
    text-align: center;
    color: #fff;
}
.dont-title{
    background-color: green;
    height: 40px;
    text-align: center;
    color: #fff;
}

.do-dont-info{
    margin-top: 20px;
    padding-top: 20px;
}

.do-dont-info li{
    padding: 3%;
    color: white;
    font-size: 1.3rem;
}
